html{
  height: 100%;
}
body{
  height: 100%;
    /* padding-top: 40px; */
    background: rgb(123, 203, 235);
    background: radial-gradient(circle, rgba(106,117,105,1) 27%, rgba(58,61,57,1) 94%);
    height: 100%;

}
h1,h3,h6{
  color: aliceblue;
}
h6{
  background-color: rgba(0, 0, 0, 0.712);
  padding: 5px !important;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  margin-top: 100%;
}
a{
  text-decoration:none !important;
}
ul li{
  display:block;
}
.footer{
    background-color: antiquewhite;

}
.navbar-dark{
    background-color: brown;
}

.page-enter {
     opacity: 0.01;
     transform: translateX(-100%);
     }
.page-exit{
    opacity: 1;
    transform: translateX(0%);
}
.page-exit-active {
    opacity: 0.01;
    transform:  translateX(100%);
    transition: all 300ms ease-out;
}

.player-wrapper {
    width: 100%;
    height: auto;
    position: relative;
    justify-content: center;

    /* padding-top: 56.25%  */
    /* Player ratio: 100 / (1280 / 720) */
  }
   
  .react-player {
    
    height: auto;
    /* position: absolute; */
    top: 10;
    left: 0;
  }
  .modalStyle {
    width: 1900;
    height: auto;
    /* margin: */
  }
  .menuContainer{
    padding: 20px;
  }
.menuItem{
    margin: 10px;
    padding: 5px;
  transition: 0.1s;

}
.menuItem:hover{
  padding: 0px;
  box-shadow: 0 0 9px 1px rgb(53, 53, 53);
}
.menuCardStyle:hover{
  box-shadow: 0 0 9px 1px rgb(53, 53, 53);

}
.tabTitle{
  background-color: darkslategray;
  color: aliceblue;
}
/* .bodyStyle{
  background: rgb(106,117,105);
  background: radial-gradient(circle, rgba(106,117,105,1) 27%, rgba(58,61,57,1) 94%);
  height: 100%;
} */
.fullPage{
  height: 100%;
}
.menuCardStyle{
  /* background-color: chocolate; */
  background: rgb(231, 241, 230);
/* background: radial-gradient(circle, rgba(106,117,105,1) 27%, rgba(58,61,57,1) 94%); */
}
.videoLink{
  text-decoration: none;
}
.videoList{
  color: darkolivegreen;
  padding: 5px;
  background: rgb(213,224,212);
  background: radial-gradient(circle, rgba(213,224,212,1) 27%, rgba(201,209,199,1) 94%);
  height: 100px;
}
.videolist-media{
  height: 80px;
  border-right: black 2px !important;

}
.videoPlayerPage{
  padding-top: 20px;
}
.video-section{
  position: fixed;
}
.list-section{
  height:90%;
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
.transparentCard{
  background-color: #21252900;
  padding-top: 0%;
  border: 0;
  margin-top: 50%;
  position: fixed;
}
.transparent{
  background-color: #21252900;
}
.homeLogo{
  padding-top: 0%;
  background-color: #21252900;
  border: 0;
  padding-right: 50px;
  padding-left: 0;
  border: 0;
  padding-bottom: 15px;
  height: 250px;
  width: 300px;
  justify-content: center;

}
.fixed-logo-place{
  position: fixed;
}
.booksList{
  font-size: 12px;
  color: darkslategrey;
  font-weight: bold;
}

.backButton{
  margin-top: 20%;
  width: 50px;
}
.logoPlace{
  padding-top: 60%;
  padding-right: 0;
  margin-right: 0;
}
.navTabLinks{
  padding-top: 70%;
  padding-left: 0;
  margin-left: 0;
  padding-right: 0;
  margin-right: 0;
}
.tabTitlex{
  color: aliceblue;
  background-color: #21252900;
}
.tabTitlex:hover{
  color: blue;
  background-color: #21252900;
}
.tabTitlex:active{
  color: black;
  background-color: #21252900;
}

.back-btn {
  text-align: center;
  width: 50px;
  padding:10px;
  background: rgb(207, 207, 207);
  border: gray 1px solid;
  border-radius: 50%;
  color: rgb(61, 61, 61);
  transition: 0.1s;
}
.back-btn:hover{
  font-size: 18px;
  width: 55px;
  /* trans  ition: 0.2s; */
}
.video-lists{
  padding:2%;
  background-color:rgba(245, 245, 245, 0.514);
  color:rgb(54, 54, 54);
  height: 100%;
}
.video-lists .title{
  font-weight: bold;
}
.playIcon{
  font-size: 50px;
  color: rgb(197, 191, 166);
  border: 2px rgb(255, 255, 255);
  border-radius: 50%;
}
::-webkit-scrollbar {
  width: 5.5px;  /* remove scrollbar space */
  /*background: transparent;   optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: gray;
  width:10px;
}
::-webkit-scrollbar:hover {
  width:10px;
}
.videopage-title{
  margin-top: 50px;
  padding-top: 50px;
}
.bookBackground{
  background-color: rgb(223, 217, 207);
}
.channalPadding{
  color: rgb(223, 217, 207); ;
}
.pdf-card{
  height: 300px;
  width: auto;
  padding-bottom: 10px;
}

.book-title{
  /* position: fixed; */
}
.play-btn{
  text-align: center;
  width: 50px;
  padding:10px;
  background: rgb(207, 207, 207);
  border: gray 1px solid;
  border-radius: 50%;
  color: rgb(61, 61, 61);
  transition: 0.1s;
}
.NavStyle{
  
}
.reportLogo{
  height: 300px;
  width: "auto";
  justify-content: center;
  
}